@page "/{RoomName}"
@page "/"
@inject IJSRuntime JS

<div class="chess-info">
    <h1>五子棋⚫⚪</h1>
    @if (!IsInRoom)
    {
        <p><button Variant="Variant.Outlined" Color="Color.Primary" @onclick="CreateRoom">創建房間</button></p>
        <p><button Variant="Variant.Outlined" Color="Color.Primary" @onclick="GetIntoRoom">加入房間</button></p>
    }
    else
    {
        <p><button Variant="Variant.Outlined" Color="Color.Primary" @onclick="StartGame">@(IsInGame ? "重置遊戲" : "開始遊戲")</button></p>
        <p><button Variant="Variant.Outlined" Color="Color.Primary" @onclick="Invite">邀請朋友</button></p>
    }
    <p><b>⚡是時候表演真正的技術了，快來一場頭腦對決吧⚡</b></p>

    <div class="chess-msg">
        <p><b>@msgs</b></p>
        <p>遊戲規則：</p>
        <span>（1）請選擇電腦先手還是你先手，先手者持黑棋</span>
        <span>（2）點擊開始遊戲開始對局。</span>
        <span>（3）點擊結束遊戲結束對局。。</span>
        <span>（4）對局雙方各執一色棋子。</span>
        <span>（5）空棋盤開局。</span>
        <span>（6）黑先、白後，交替下子，每次只能下一子。</span>
        <span>（7）棋子下在棋盤的空白點上，棋子下定後，不得向其它點移動，或悔棋。</span>
        <span>（8）黑方的第一枚棋子可下在棋盤任意交叉點上。</span>
        <span>（9）輪流下子是雙方的權利</span>
    </div>
</div>

@if (IsInGame)
{
    <div class="gobang-box">
        <Server.Components.Chessboard Chess="Chess" OnPlaying="Playing"></Server.Components.Chessboard>
    </div>
}